@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.inputFont{
    margin-bottom: 12px;
}
input{
    background: none;

}
*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}
.inputTag::placeholder{
    font-size: medium;
}